// Color

//blancos//
$White: #fff;
$Isabelline: #EEEDED;
$Spanish-gray: #989797;

//amarillos//
$Coral: #FA824C;
$Buff: #F1DD7B;
$Vanilla: #F5E7A1;

//rojos//
$Flame: #E4572E;
$Light-red-ochre: #E87554;
$Pastel-pink: #F2B2A0;

//verdes//
$Shiny-shamrock: #4CA866;
$Turquoise-green: #9DCFAB;
$Pastel-gray: #BDDFC7;

//azules//
$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

//Tipografia

//tipo-1
$pt-mono: 'PT Mono', monospace;
$pt-mono-regular: 400;

//tipo-2
$open-sans: 'Open Sans', sans-serif;
$open-sans-light: 300;

$primary-font: $pt-mono;
$primary-font-regular: $pt-mono-regular;

$second-font: $open-sans;
$second-font-light: $open-sans-light;

// Tamaño
$font-size-xxx-large: 6.25rem;      //100px
$font-size-xx-large: 4.375rem;      //70px
$font-size-x-large: 1.875rem;       //30px
$font-size-large: 1.125rem;         //18px
$font-size-medium: 1rem;            //16px
$font-size-small: 0.75rem;          //12px